@media all and (min-width: 200px) {

  .hero__featured-card-list {
    width: 300px;
    height: 300px;
    position: relative;
    margin-left: 1rem;
  }

  .hero__featured-card-img {
    height: 300px;
    object-fit: fill;
  }

  .hero__featured-card-content {
    position: relative;
  }

  .hero__featured-card-content-background {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: var(--color-dark-background)
  }

  .hero__featured-card-content-result {
    position: absolute;
    top: 30%;
    left: 0%;
  }

  .hero__featured-buttton-result-icon {
    height: 16px;
    width: 16px;
    padding: 8px;
  }

  .hero__featured-name {
    position: absolute;
    left: 37px;
    font-size: 3rem;
    color: var(--color-white);
    font-family: 'Lato', sans-serif;
    margin-right: 2rem;
  }

  .top-20 {
    top: 20%;
  }

  .top-10 {
    top: 10%;
  }

  .hero__featured-text {
    text-align: justify;
    padding-top: 0.5rem;
    margin-right: 30px;
    margin-left: 30px;
    color: var(--color-white);
    font-family: 'Lato', sans-serif;
  }

  .hero__featured-text-age {
    text-align: right;
    font-size: 0.75rem;
    color: var(--color-white);
    margin-right: 2rem;
    margin-left: 2rem;
    font-family: 'Lato', sans-serif;
  }

  .hero__featured-icon-button {
    border: 2px solid var(--color-darker-background);
    height: 30px;
    background-color: var(--color-dark-background)
  }

  .hero__featured-buttons-desicion {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;

  }

  .vote-icon {
    width: 107px;
    border: 1px solid var(--color-white);
    background-color: var(--color-vote-background);
    color: var(--color-white);
  }

  .vote-icon[disabled] {
    background-color: var(--color-vote-disabled-background);
  }

  .vote-active {
    border: 1px solid var(--color-white);
  }

  .vote-again {
    width: 149px;
    height: 38px;
    border: 1px solid var(--color-white);
    background-color: var(--color-vote-background);
    color: var(--color-white);
  }

  .mr-1 {
    margin-right: 1rem;
  }


  .hero__featured-card-content-result-background-green {
    height: 36px;
    position: absolute;
    top: calc(300px - 36px);
    left: 0%;
    background-color: rgba(var(--color-green-positive), .8);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.5rem;
    color: var(--color-white);
    font-family: 'Lato', sans-serif;
  }

  .hero__featured-card-content-result-background-yellow {
    height: 36px;
    position: absolute;
    top: calc(300px - 36px);
    background-color: rgba(var(--color-yellow-negative), .8);
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.5rem;
    color: var(--color-white);
    font-family: 'Lato', sans-serif;
  }


}


@media all and (min-width: 768px) {

  .hero__featured-card-list[type-hero="grid"] {
    width: calc(49vw - 1rem);
    height: calc(49vw - 1rem);
    margin-left: 0;

  }

  .grid>.hero__featured-card-content-background {
    width: calc(49vw - 1rem);
    height: calc(49vw - 1rem);
  }

  .grid>.hero__featured-card-img {
    height: calc(49vw - 1rem);
  }

  .grid>.hero__featured-card-content-result-background-green {
    top: calc(49vw - 1rem - 36px);
  }

  .grid>.hero__featured-card-content-result-background-yellow {
    top: calc(49vw - 1rem - 36px);
  }

  .hero__featured-card-list[type-hero="list"] {
    height: 142px;
    width: 100%;
    margin-left: 0;
  }

  .list>.hero__featured-card-content-background {
    height: 142px;
    width: 100%;
    background-image: linear-gradient(to right, rgb(0 0 0 / 0%) 60px, #00000000 calc(60px), rgb(202 190 188 / 39%) 120px, #888888 142px, #666666 50%, rgba(51, 51, 51, 0.6) 71.88%)
  }

  .list>.hero__featured-card-img {
    height: 142px;
  }

  .list>.hero__featured-card-content-result-background-green {
    top: calc(142px - 36px);
  }

  .list>.hero__featured-card-content-result-background-yellow {
    top: calc(142px - 36px);
  }


  .list>.hero__featured-card-content-result {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 142px;
  }


  .list>.hero__featured-card-content-background>.hero__featured-name {
    position: absolute;
    left: calc(142px);
    top: 0%;
    font-size: 2rem;
    margin: 0;
    color: var(--color-white);
    font-family: 'Lato', sans-serif;
    font-weight: 100;
  }

  .list>.hero__featured-card-content-result>.hero__featured-text {
    width: 45%;
    text-align: justify;
    font-weight: 100;
    margin-left: calc(142px);
    margin-top: 0;
    font-size: 15px;
  }

  .list>.hero__featured-card-content-result>.hero__featured-text-age {
    position: absolute;
    top: 0%;
    right: 0%;
    text-align: right;
  }

  .list>.hero__featured-card-content-result>.hero__featured-buttons-desicion {
    position: absolute;
    top: 30%;
    right: 0%;
    text-align: right;
  }


}

@media all and (min-width: 950px) {
  .list>.hero__featured-card-content-result>.hero__featured-text {
    width: 55%;
    font-size: 15px;
  }
}

@media all and (min-width: 1100px) {

  .hero__featured-text {
    font-size: 15px;
    line-height: 18px;
  }

  .hero__featured-card-list[type-hero="grid"] {
    width: 348px;
    height: 348px;
    margin-left: 0;
  }

  .grid>.hero__featured-card-content-background>.hero__featured-name {
    font-size: 2rem;
    font-weight: 100;
  }

  .grid>.hero__featured-card-content-background {
    width: 348px;
    height: 348px;
  }

  .grid>.hero__featured-card-img {
    height: 348px;
  }

  .grid>.hero__featured-card-content-result-background-green {
    top: calc(348px - 36px);
    font-size: 18px;
  }

  .grid>.hero__featured-card-content-result-background-yellow {
    top: calc(348px - 36px);
    font-size: 18px;
  }

  .hero__featured-card-list[type-hero="list"] {
    height: 142px;
    width: 100%;
    margin-left: 0;
  }

  .list>.hero__featured-card-content-background {
    height: 142px;
    width: 100%;
  }



  .list>.hero__featured-card-img {
    height: 142px;
  }

  .list>.hero__featured-card-content-result-background-green {
    top: calc(142px - 36px);
  }

  .list>.hero__featured-card-content-result-background-yellow {
    top: calc(142px - 36px);
  }

  .list>.hero__featured-card-content-result {
    position: absolute;
    top: 0%;
    left: 0%;
  }

  .list>.hero__featured-card-content-background>.hero__featured-name {
    position: absolute;
    left: calc(142px);
    top: 0%;
    font-size: 2rem;
    margin: 0;
    color: var(--color-white);
    font-family: 'Lato', sans-serif;
    font-weight: 100;
  }

  .list>.hero__featured-card-content-result>.hero__featured-text {
    width: 60%;
  }

  .vote-again {
    height: 45px;
  }
}