<div
  [attr.type-hero]="tipeView"
  class="hero__featured-card-list"
  [ngClass]="tipeView"
  *ngIf="person"
>
  <img
    class="hero__featured-card-img"
    [src]="'assets/img/' + person.picture"
    alt=""
  />
  <div class="hero__featured-card-content-background">
    <h1 class="hero__featured-name" [ngClass]="classTopName()">
      {{ person.name | slice: 0:personNameLengthTrunc }}
      {{ person.name.length > personNameLengthTrunc ? "..." : "" }}
    </h1>
  </div>

  <div class="hero__featured-card-content-result">
    <button class="icon-button" [attr.aria-label]="ariaLabelValoration">
      <img
        class="hero__featured-buttton-result-icon"
        [src]="
          valoration === 'up'
            ? 'assets/img/thumbs-up.svg'
            : 'assets/img/thumbs-down.svg'
        "
        alt="thumbs down"
      />
    </button>

    <p class="hero__featured-text">
      {{ person.description | slice: 0:personDescriptionLengthTrunc }}
      {{
        person.description.length > personDescriptionLengthTrunc ? "..." : ""
      }}
    </p>

    <p *ngIf="!person.voted" class="hero__featured-text-age">
      {{ lastUpdate }}
    </p>
    <p *ngIf="person.voted" class="hero__featured-text-age">
      Thank you for your vote!
    </p>

    <div *ngIf="!person.voted" class="hero__featured-buttons-desicion">
      <button
        (click)="selectButton('up')"
        class="icon-button mr-1 pointer"
        aria-label="thumbs up"
        [ngClass]="{ 'vote-active': voteActive === 'up' }"
      >
        <img
          class="hero__featured-buttton-result-icon"
          src="assets/img/thumbs-up.svg"
          alt="thumbs up"
        />
      </button>

      <button
        (click)="selectButton('down')"
        class="icon-button mr-1 pointer"
        aria-label="thumbs down"
        [ngClass]="{ 'vote-active': voteActive === 'down' }"
      >
        <img
          class="hero__featured-buttton-result-icon"
          src="assets/img/thumbs-down.svg"
          alt="thumbs down"
        />
      </button>

      <button
        (click)="vote()"
        title="please choose an option!"
        [disabled]="voteActive === 'none'"
        class="icon-button vote-icon pointer"
      >
        Vote Now
      </button>
    </div>

    <div *ngIf="person.voted" class="hero__featured-buttons-desicion">
      <button
        (click)="resetVote()"
        title="Vote again!"
        class="icon-button vote-again pointer"
      >
        Vote Again
      </button>
    </div>
  </div>

  <div
    class="hero__featured-card-content-result-background-green"
    [ngStyle]="{ width: percentageUp + '%' }"
  >
    <button class="icon-button">
      <img
        class="hero__featured-buttton-result-icon"
        src="assets/img/thumbs-up.svg"
        alt="thumbs up"
      />
    </button>

    {{ percentageUp }}%
  </div>

  <div
    class="hero__featured-card-content-result-background-yellow"
    [ngStyle]="{ width: percentageDown + '%', left: percentageUp + '%' }"
  >
    {{ percentageDown }}%
    <button class="icon-button">
      <img
        class="hero__featured-buttton-result-icon"
        src="assets/img/thumbs-down.svg"
        alt="thumbs down"
      />
    </button>
  </div>
</div>
