<div class="layout-wrapper">
  <div class="layout-content">
    <app-top-bar></app-top-bar>
    <router-outlet></router-outlet>
    <hr role="separator" />
    <app-footer></app-footer>
  </div>
</div>
