<header class="hero">
  <!-- IMG PRINCIPAL THUMB -->
  <app-img-thumb-principal></app-img-thumb-principal>

  <!-- CARD PRINCIPAL THUMB -->
  <app-card-thumb-principal></app-card-thumb-principal>

  <!-- CLOSING GAUGE THUMB -->
  <app-closing-gauge></app-closing-gauge>
</header>

<div class="max-centered">
  <!--BANNER THUMB -->
  <app-banner-thumb></app-banner-thumb>

  <!-- TITLE ROLLING-->
  <div class="title-type-view">
    <div class="title-roling">Previus Roling</div>
    <select
      class="type-view"
      *ngIf="isActiveSelectTypeView"
      [(ngModel)]="tipeView"
      name="typeVIew"
      id="typeVIew"
    >
      <option value="grid">Grid</option>
      <option value="list">List</option>
    </select>
  </div>

  <!--CARD THUMB -->
  <main role="main" *ngIf="dataPeople.length > 0" class="main">
    <app-card-thump
      class="app-card-thumb-size"
      [ngClass]="tipeView"
      *ngFor="let person of dataPeople"
      [person]="person"
      [tipeViewChange]="tipeView"
    ></app-card-thump>
  </main>

  <app-banner-thumb-bot></app-banner-thumb-bot>
</div>
