.title-roling {
  color: var(--color-title);
  font-size: 2rem;
  font-weight: 100;

}

.main {
  padding: 1rem;
  display: flex;
  overflow-x: auto;
}

.none {
  display: none;
}


.title-type-view {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
}

.type-view {
  height: 36px;
  width: 173px;
  border: 2px solid var(--color-border)
}

.type-view>option {
  height: 36px;
}

@media all and (min-width: 768px) {

  .list {
    flex-grow: 1;
    width: 100%;
    margin-bottom: calc(1vw);

  }

  .grid {
    flex-grow: 1;
    width: 49%;
    margin-bottom: calc(1vw);
  }


  main {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
  }

}



@media all and (min-width: 1100px) {


  .grid {
    flex-grow: 1;
    width: 33%;
    margin-bottom: calc(1vw);
  }


}