/* You can add global styles to this file, and also import other style files */
:root {
  --color-green-positive: 60, 187, 180;
  --color-yellow-negative: 249, 173, 29;
  --color-dark-background: rgba(0, 0, 0, .4);
  --color-darker-background: rgba(0, 0, 0, .6);
  --color-darker-gray: rgba(51, 51, 51, 1);
  --color-dark-gray: rgba(70, 70, 70, 1);
  --color-light-gray: rgba(235, 235, 235, 1);
  --color-light-background: rgba(255, 255, 255, .4);
  --color-lighter-background: rgba(255, 255, 255, .8);
  --color-white: rgba(255, 255, 255, 1);
}

html, body {
  width: 100%;
  margin: 0;
  background-color: var(--color-white);
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 400;
}

body {
  position: relative;
}

a, a:visited {
  color: var(--color-white);
}

button {
  font-family: 'Lato', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

hr[role="separator"] {
  border: 0 none;
  border-bottom: 2px dotted var(--color-dark-gray);
  margin: 1.5rem 1rem;
}

.nav {
  position: fixed;
  z-index: 2;
  top: 0;
  display: flex;
  width: calc(100vw - 2rem);
  min-height: 10rem;
  justify-content: space-between;
  padding: 0 1rem;
  background: linear-gradient(
      to bottom, 
      rgba(0, 0, 0, .8) 0%, 
      rgba(0, 0, 0, 0) 80%
  );
}

.icon-button {
  padding: 0;
  border: 0;
  background-color: transparent;
}

.icon-button[aria-label="thumbs up"] {
  background-color: rgba(var(--color-green-positive), .8);
}

.icon-button[aria-label="thumbs up"]:hover {
  background-color: rgba(var(--color-green-positive), 1);
}

.icon-button[aria-label="thumbs down"] {
  background-color: rgba(var(--color-yellow-negative), .8);
}

.icon-button[aria-label="thumbs down"]:hover {
  background-color: rgba(var(--color-yellow-negative), 1);
}

.icon-button > img {
  width: 100%;
  height: 100%;
}

.nav__logo {
  margin: 2.5rem 0 0;
  color: var(--color-white);
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;
}

.nav__hamburger {
  position: relative;
  top: 2rem;
  right: 1rem;
  width: 25px;
  height: 20px;
}

.nav__links {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: calc(100vh - 4rem);
  flex-direction: column;
  padding: 4rem 0 2rem;
  background-color: var(--color-darker-background);
  transform: translateX(100vw);
}

.nav__links li {
  width: 100%;
  margin: 3rem 0;
  font-size: 2rem;
  text-align: center;
}

.nav__links a {
  color: var(--color-white);
  text-decoration: none;
}

.nav__hamburger:focus + .nav__links,
.nav__links:focus-within {
  transform: translateX(0);
}

.nav__links li:last-child {
  order: -1;
}

.nav__search {
  width: 24px;
  height: 24px;
  margin-left: .5rem;
}

.nav__search-input {
  width: 25vw;
  border: 0;
  border-bottom: 2px solid var(--color-white);
  background-color: transparent;
  border-radius: 0;
  color: var(--color-white);
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  transition: width .2s ease-in;
}

.nav__search-input:focus {
  width: 60vw;
  outline: 0 none;
}

.hero {
  position: relative; 
  overflow: hidden;
  height: 80vw;
  min-height: 35rem;
  max-height: 38rem;
  margin-bottom: 2rem;
}

.hero__background {
  position: absolute;
  left: -35vw;
  width: 160vw;
  height: 100%;
  object-fit: cover;
}

.hero__featured-card {
  position: relative;
  top: 5.5rem;
  left: 1rem;
  overflow: hidden;
  width: 55vw;
  max-height: 25rem;
}

.hero__closing-gauge {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 3rem;
  background-color: var(--color-light-background);
}

.featured-card__glass-background {
  position: absolute;
  top: -20%;
  left: -20%;
  width: 140%;
  height: 140%;
  background:
      center no-repeat linear-gradient(
          var(--color-dark-background),
          var(--color-dark-background)
      ),
      -25vw 0/160vw no-repeat url('src/assets/img/pope-francis.png');
  filter: blur(1rem);
}

.featured-card__content {
  position: relative;
  padding: 1rem;
  color: var(--color-white);
}

.featured-card__hairline {
  margin: 0;
  font-weight: 300;
  white-space: nowrap;
}

.featured-card__title {
  margin: 0;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
}

.featured-card__desc {
  display: -webkit-box;
  overflow: hidden;
  max-height: 10.5rem;
  margin: 1rem 0;
  -webkit-box-orient: vertical;
  font-size: 1.25rem;
  font-weight: 300;
  -webkit-line-clamp: 6;
  text-overflow: ellipsis;
}

.featured-card__cta {
  font-weight: 700;
}

.featured-card__buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 -1rem -1rem;
}

.featured-card__buttons > .icon-button {
  width: 50%;
  height: 2.75rem;
}

.featured-card__buttons > .icon-button > img {
  max-width: 1.25rem;
}

.closing-gauge__left {
  position: relative;
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: flex-end;
  padding: 0 .25rem 0 0;
  background-color: var(--color-dark-background);
  color: var(--color-white);
  font-weight: 300;
  text-transform: uppercase;
}

.closing-gauge__left:after {
  position: absolute;
  right: -.5rem;
  display: block;
  width: 0;
  height: 0;
  border-top: 0.25rem solid transparent;
  border-bottom: 0.25rem solid transparent;
  border-left: 0.5rem solid var(--color-dark-background);
  content: ' ';
}

.closing-gauge__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0 0 .75rem;
}

.closing-gauge__number {
  color: var(--color-dark-gray);
  font-size: 1.5rem;
  font-weight: 400;
}

.closing-gauge__desc {
  color: var(--color-dark-gray);
  font-size: 1.5rem;
  font-weight: 300;
}

.banner {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  background-color: var(--color-light-gray);
}

.banner__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  opacity: .2;
  pointer-events: none;
}

.banner-top .banner__left {
  flex-basis: 40%;
  padding-right: 1rem;
}

.banner-top .banner__left > .banner__hairline {
  color: var(--color-dark-gray);
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: -.07rem;
}

.banner-top .banner__left > .banner__title {
  display: block;
  color: var(--color-dark-gray);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -.05rem;
}

.banner-top .banner__right {
  flex-basis: 60%;
}

.banner-top .banner__text {
  margin: 0;
  color: var(--color-dark-gray);
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: -.05rem;
}

.banner-bottom {
  flex-direction: column;
  padding: 1rem 3rem;
  margin-top: 2rem;
}

.banner-bottom .banner__heading {
  position: relative;
  margin: 0 0 1rem;
  color: var(--color-dark-gray);
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

.banner-bottom .banner__right {
  width: 100%;
}

.banner-bottom .banner__cta {
  position: relative;
  display: block;
  width: 100%;
  padding: 1rem 0;
  border: 2px solid var(--color-darker-background);
  background: transparent;
  color: var(--color-darker-gray);
  font-size: 1.5rem;
}

main[role="main"] {
  padding: 0 1rem;
  margin-top: 2rem;
}

main h2,
main h3,
main h4 {
  color: var(--color-dark-gray);
  font-weight: 300;
}

main h2 {
  margin: 0 0 2rem;
  font-size: 2rem;
}

.footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 1rem 3rem;
}

.footer__links li {
  padding: .5rem 0;
  font-size: 1.25rem;
}

.footer__links li a {
  color: var(--color-dark-gray);
  text-decoration: none;
}

.footer__links li a:hover {
  color: var(--color-darker-gray);
  text-decoration: underline;
}

.footer__social > span {
  color: var(--color-darker-gray);
  font-size: 1.25rem;
  text-align: right;
}

.footer__social > ul {
  display: flex;
  margin-top: 1rem;
}

.footer__social > ul > li {
  margin-right: 1rem;
}

.featured-card__more-info {
  display: none;
}

.featured-card__more-info-icon {
  width: 1.5rem;
  height: 1rem;
  margin-right: .5rem;
}

.banner-top .icon-button {
  display: none;
}

.max-centered {
  display: contents;
}

@media all and (min-width: 500px) {
  .banner-top .banner__left {
      flex-basis: 30%;
  }

  .banner-top .banner__right {
      flex-basis: 70%;
  }
}

@media all and (min-width: 768px) {
  html, body {
      font-size: 14px;
  }

  .hero {
      max-height: 38rem;
  }

  .hero__background {
      top: -6.5rem;
      left: 0;
      width: 110vw;
      height: auto;
  }

  .featured-card__glass-background {
      background:
          center no-repeat linear-gradient(var(--color-dark-background), var(--color-dark-background)),
          7vw -6.5rem/115vw auto no-repeat url('src/assets/img/pope-francis.png');
  }

  .featured-card__content {
      padding: 2rem 1.5rem;
  }

  .featured-card__more-info {
      display: inline-block;
      margin: 0;
      font-weight: 300;
  }

  .featured-card__buttons {
      margin: 0 -1.5rem -2rem;
  }

  .banner-top .banner__left {
      flex-basis: 20%;
  }

  .banner-top .banner__right {
      flex-basis: 80%;
  }

  .banner-bottom {
      flex-direction: row;
      justify-content: space-between;
      padding: 1rem 2rem;
  }

  .banner-bottom .banner__background {
      top: -230%;
  }

  .banner-bottom .banner__right {
      width: auto;
  }

  .banner-bottom .banner__heading {
      margin-bottom: 0;
      font-size: 1.5rem;
  }

  .banner-bottom .banner__cta {
      width: 16rem;
  }

  .footer {
      align-items: flex-start;
  }

  .footer__links ul,
  .footer__social {
      display: flex;
  }

  .footer__links ul li {
      padding: 0;
      margin-right: 2rem;
      font-size: 1rem;
  }

  .footer__social {
      align-items: center;
  }

  .footer__social span {
      margin-right: 1rem;
      color: var(--color-dark-gray);
      font-size: 0.833rem;
  }

  .footer__social > ul {
      margin-top: 3px;
  } 
}

@media all and (min-width: 1100px) {
  html, body {
      font-size: 18px;
  }

  .max-centered {
      position: relative;
      display: block;
      width: 100vw;
      max-width: 1100px;
      margin-right: auto;
      margin-left: auto;
  }

  .max-centered > *,
  .max-centered > hr[role="separator"] {
      margin-right: 0;
      margin-left: 0;
  }

  .max-centered main {
      padding: 0;
  }

  .nav {
      min-height: 22vh;
  }

  .nav__logo {
      margin-top: 3rem;
  }

  .nav__hamburger {
      display: none;
  }

  .nav__links {
      position: absolute;
      top: 3rem;
      right: 0;
      left: auto;
      width: 40vw;
      height: auto;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      padding: 0;
      background-color: transparent;
      transform: translateX(0);
  }

  .nav__links li {
      width: fit-content;
      margin: 0 1rem 0 0;
      font-size: 1rem;
      font-weight: 300;
      text-align: right;
  }

  .nav__links li:last-child {
      order: 0;
  }

  .nav__search {
      width: 2rem;
      height: 2rem;
  }

  .nav__search-input {
      display: none;
  }

  .hero {
      min-height: 700px;
  }

  .hero__background {
      top: -2.5rem;
      left: 0;
      width: 100vw;
      height: auto;
  }

  .hero__featured-card {
      left: 0;
      width: 50%;
      min-width: 600px;
      max-height: unset;
      margin-top: 2.5rem;
  }

  .featured-card__glass-background {
      background:
          center no-repeat linear-gradient(var(--color-dark-background), var(--color-dark-background)),
          calc(-50vw + 650px) -6rem/105vw auto no-repeat url('src/assets/img/pope-francis.png');
  }

  .featured-card__content {
      padding: 2rem 1.5rem;
  }

  .featured-card__desc {
      max-width: 85%;
      margin: 2rem 0 1rem;
  }

  .featured-card__cta {
      margin: 1rem 0 2rem;
      font-size: 1.5rem;
  }

  .featured-card__buttons {
      margin: 0 -1.5rem -2rem;
  }

  .featured-card__buttons > .icon-button {
      height: auto;
  }

  .featured-card__buttons > .icon-button > img {
      max-width: 2rem;
      height: 2rem;
      margin: 1.3rem 0;
  }

  .closing-gauge__left {
      padding-right: 1rem;
  }

  .closing-gauge__right {
      padding-left: 1rem;
  }

  .closing-gauge__title {
      font-size: 1.25rem;
  }

  .closing-gauge__number,
  .closing-gauge__desc {
      font-size: 2rem;
  }

  .closing-gauge__left:after {
      border-top-width: 0.33rem;
      border-bottom-width: 0.33rem;
  } 

  .banner-top .banner__text,
  .banner-top .banner__left > .banner__hairline {
      font-size: 1rem;
  }

  .banner-top .banner__left > .banner__title {
      font-size: 1.5rem;
      letter-spacing: 0;
  }

  .banner-top .icon-button {
      display: block;
      margin-left: 2rem;
  }

  .banner-bottom .banner__cta {
      width: 20rem;
  }

  main h2 {
      font-size: 2.5rem;
  }

  hr[role="separator"] {
      margin: 2rem 0;
  }
}